* {
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #C4DAD2;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 120px;
}
.logo {
    font-size: 24px;
    font-weight: 700;
    color: #16423C;
}